.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    li {
      margin: 0px 8px 8px 0px;
      display: block;
      float: left;
    }
  }
  a {
    background: #777;
    padding: .4em 1.2em;
    display: block;
    color: #fff;
    @include box-sizing();
    border-radius: 20px;
    white-space: nowrap;
    &:hover,
    &:focus {
      color: #FFF;
      background: $primaryColor;
      box-shadow: none;
    }
    &.active {
      color: #FFF;
      background: $importantColor;
    }
    span {
      font-size: .813em;
      &:before {
        content: "(";
        display: inline-block;
      }
      &:after {
        content: ")";
        display: inline-block;
      }
    }
  }
}