.mpSlider{
  margin-bottom: 2em;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: 100%;
  padding: 2em 0;
}
.quicklink{
  margin-bottom: 2em;
  ul{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    @include li-reset;
    li{
      width: 22%;
      height: 200px;
      text-align: center;
      overflow: hidden;
      @include screen('mobile') {
        width: 49%;
      }
      a{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        &:before{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          display: block;
          background: rgba(0,0,0,.3);
          transition:all .5s;
        }
        &:after{
          content: "";
          width: 0;
          height: 4px;
          position: absolute;
          top: 0;
          left: 0;
          transition:all .5s;
          display: block;
          background: $primaryColor;
        }
        span{
          background: $primaryColor;
          color: #fff;
          padding: .6em 1.5em;
          position: absolute;
          left: 0;
          bottom: 30px;
          display: inline-block;
          font-size: 1.125em;
          font-weight: bold;
          box-shadow: 2px -2px 2px rgba(0,0,0,.4);

        }
        &:hover{
          span{
            background: $importantColor;
          }
          &:before{
            content: "";
            background: rgba(0,0,0,.2);
          }
          &:after{
            content: "";
            width: 100%;
          }
        }
      }
      &:nth-child(1) a{
        background: url(../images/bn1.jpg) no-repeat center center;
      }
      &:nth-child(2) a{
        background: url(../images/bn2.jpg) no-repeat center center;
      }
      &:nth-child(3) a{
        background: url(../images/bn3.jpg) no-repeat center center;
      }
      &:nth-child(4) a{
        background: url(../images/bn4.jpg) no-repeat center center;
      }
    }
  }
}