.table.gsc-search-box{
	table td{
		border-bottom: 0!important;
	}
}
.cse .gsc-search-button-v2, .gsc-search-button-v2{
	padding: 8px 27px!important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
	padding: 0!important;
}
.gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus {
	border-color: #444!important;
	background-color: #444!important;
}
.gsc-above-wrapper-area{
	border-bottom: 0!important;
}
.gsst_a .gscb_a {
	color: #aaa!important;
}
.gscb_a {
	line-height: 32px!important;
}